.square-out {
  border: 1px solid red;
  height: 300px;
  width: 300px;
  padding: 1em;
}

.inputChange14 {
  width: 25em;
}

.inputChange14-active {
  color: red;
  padding-right: 10rem;
}

.inputHide-active {
  display: none;
}

.inputHide {
  width: 15em;
}

.inputRounded-active {
  color: red;
  border-radius: 5px;
  padding: 1rem 1rem;
}

.inputRounded {
  width: 17em;
}

.box7__btnChange,
.boxBtn,
.btnChange14,
.btnChange16,
.inputBlock,
.inputUnBlock {
  margin-top: 10px;
}

.inputUnBlock {
  display: none;
}

.inputUnBlock-active {
  display: block;
}
